body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsecure.i.telegraph.co.uk%2Fmultimedia%2Farchive%2F03236%2FLaughing-theater-a_3236118k.jpg&f=1&nofb=1&ipt=7fa2a1fff7621f522fcd89033509a9a054e207b5c2ccceebfa09f9218f80d6bc&ipo=images");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Hoefler Text', sans-serif;
}

#title-container {
    background: white;
    width: 700px;
    height: 150px;
    margin: auto;
    border-radius: 20px;
    border: 10px solid rgb(0,110,51);
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    /* justify-content: space-between; */
}

#title-text {
    width: 10px;
    flex: 2;
    text-align: center;
    font-size: 50px;
    padding-right: 50px;
}

#title-icon {
    width: 10px;
    height: 120px;
    /* border-radius: 10px; */
    flex: 1;
    padding-left: 30px;
    padding-right: 60px
}

#existing-jokes {
    background: white;
    margin: 10px auto;
    border-radius: 20px;
    border: 10px solid rgb(0,110,51);
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 200px;
    width: 700px;
    align-items: center;
    flex-direction: vertical;
}

#jokes {
    text-align: center;
    margin: auto;
}

#button-div {
    margin: auto;
}

.like, .dislike {
    margin: 20px;
    padding: 10px;
    
}


#new-input {
    background: white;
    margin: auto;
    border-radius: 20px;
    border: 10px solid rgb(0,110,51);
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input_form {
    text-align: center;
    margin: 30px
}

#filter-container {
    background: white;
    margin: auto;
    border-radius: 20px;
    border: 10px solid rgb(0,110,51);
    width: 700px;
    display: grid;
    grid-template-rows: 100px 1fr; 
    justify-content: center;
    align-items: center; 
    
}

#form-id {
    grid-row: 1;
    align-items: center; 
    justify-self: center;
}

#db-jokes {
    grid-row: 2;
}

.jokes-content {
    width: 500px;
    background-color: yellow;
    margin: 20px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    flex-direction: vertical;
}


/* .like-Div, .p-Div {
   
} */


/* .p-Div {

} */